---
layout: default
keyword: linux command
---
<div>
	<div class="post">
		<header class="post-header">
		  <span class="rightBar">leiyu</span>
		  <h1 class="post-title">{{ page.title }}</h1>
		  <p class="post-meta">
		  	{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
		  </p>
		</header>

		<article class="post-content">
		  {{ content }}
		</article>
	</div>  
	{% include disqus_comment.html %}
	{% include sidebar_recent_comments.html %}
</div>
